<div class="container">
  <div class="row">
    <%= link_to "プロフィール", users_profile_path, class: "btn btn-sm btn-success" %>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4>アイテム一覧</h4>
    </div>
    <div class="col-md-4">
      <h4>請求額</h4>
    </div>
  </div>
</div>