<div class="container">
  <div class="row">
    <div class="col-md-12 main-container">
      <h1 class="title my-5">sutidy</h1>
      <p class="my-5">これまでのサービスにさよならを</p>
      <%= link_to "サービスを探す", services_path, class: 'btn top-btn btn-light mt-5' %>
    </div>
  </div>
</div>

